@font-face {
  font-family: 'Museo Sans 300 Light';
  src: url("../fonts/MuseoSansCyrl-300.eot");
  src: url("../fonts/MuseoSansCyrl-300.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSansCyrl-300.woff") format("woff"), url("../fonts/MuseoSansCyrl-300.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Museo Sans 700 Bold';
  src: url("../fonts/MuseoSansCyrl-700.eot");
  src: url("../fonts/MuseoSansCyrl-700.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSansCyrl-700.woff") format("woff"), url("../fonts/MuseoSansCyrl-700.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

html {
  font-size: 10px;
}

body {
  font-size: 1.4rem;
  font-family: 'Museo Sans 300 Light', Helvetica, sans-serif;
}

body::-webkit-scrollbar {
  width: 0 !important;
}

.main-container {
  position: relative;
  width: 100%;
}

.menuButton {
  position: relative;
  float: right;
  background: rgba(248, 121, 4, 0.9);
  padding: 25px 20px;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  border-left: 1px solid #fff;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  margin: 0 0 30px 30px;
  cursor: pointer;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
  z-index: 200;
}

.menuButton__wrap {
  position: fixed;
  right: 0;
  top: 75px;
  z-index: 30000;
}

.menuButton__wrap:hover .menuButton {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

.menuButton__wrap:hover .navigate {
  right: 70px;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
}

.burger {
  position: relative;
  display: block;
  width: 30px;
  height: 1px;
  background: #fff;
  margin: 0;
  padding: 0;
  z-index: 3000;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
}

.burger::before {
  content: '';
  position: absolute;
  top: -10px;
  display: block;
  width: 30px;
  height: 1px;
  z-index: 30000;
  background: #fff;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

.burger::after {
  content: '';
  position: absolute;
  top: 10px;
  display: block;
  width: 30px;
  height: 1px;
  z-index: 30000;
  background: #fff;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

.burgerActive {
  position: relative;
  display: block;
  background: 0 0;
  margin: 0;
  padding: 0;
}

.burgerActive::before {
  content: '';
  position: absolute;
  top: 0;
  left: -5px;
  display: block;
  width: 40px;
  height: 1px;
  z-index: 30000;
  background: #fff;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.burgerActive::after {
  content: '';
  position: absolute;
  top: 0;
  left: -5px;
  display: block;
  width: 40px;
  height: 1px;
  z-index: 30000;
  background: #fff;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.navigate {
  position: absolute;
  display: block;
  background: rgba(248, 121, 4, 0.9);
  padding: 0 15px;
  height: 53px;
  line-height: 51px;
  top: -1px;
  right: -170px;
  font-size: 1em;
  color: #fff;
  border: 1px solid #fff;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
}

.modalMenu {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(248, 121, 4, 0.9);
  z-index: 20000;
}

.modalMenu__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modalMenu-wrapList {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.modalMenu-wrapList__borderBottom {
  width: 300px;
  position: relative;
  border: none;
  height: 1px;
  margin: 15px auto 0;
  padding: 0;
  background: #fff;
  background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0)), color-stop(55%, white), to(white));
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, white 55%, white 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff',endColorstr='#ffffff',GradientType=1);
  opacity: .3;
  -webkit-transform: translateX(-50px);
          transform: translateX(-50px);
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
}

.modalMenu-wrapList__item {
  font-size: 4rem;
  font-weight: 400;
  text-transform: uppercase;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.modalMenu-wrapList__item:hover {
  -webkit-transform: translateX(-10px);
          transform: translateX(-10px);
}

.modalMenu-wrapList__item:hover .modalMenu-wrapList__borderBottom {
  -webkit-transform: translateX(50px);
          transform: translateX(50px);
}

.modalMenu-wrapList__link {
  color: white;
}

.modalMenu-wrapList__link:hover {
  color: white;
  text-decoration: none;
}

.content {
  position: relative;
  z-index: 2000;
  height: 2000px;
  background-color: #aeaeae;
}

.scrollHide {
  overflow: hidden;
}

.intro {
  position: relative;
}

.intro-videoBg {
  height: 100vh;
}

.intro-overWrap {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

.intro-logo {
  margin-left: 5rem;
}

.intro-logo__img {
  max-width: 100%;
}

.intro-title {
  position: relative;
  top: 20%;
  text-align: center;
  color: white;
}

.intro-title__text {
  display: inline;
  padding: 7px;
  font-size: 8rem;
  font-weight: 400;
  line-height: 110px;
  letter-spacing: 10px;
  background-color: rgba(248, 121, 4, 0.7);
}

.intro__title {
  width: 90%;
  margin: 0 auto;
}

.intro-subtitle {
  position: relative;
  top: 30%;
  color: white;
  text-align: right;
}

.intro__subtitle {
  float: right;
  max-width: 700px;
  margin-right: 300px;
}

.intro-arrowDown-fromContent {
  position: absolute;
  right: 50%;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
  top: -100px;
  text-align: center;
  width: 4rem;
}

@media (max-width: 1232px) {
  .intro-title__text {
    font-size: 6rem;
    line-height: 86px;
  }
}

@media (max-width: 767px) {
  .intro__title {
    width: 80%;
  }
  .intro-title__text {
    font-size: 4rem;
    line-height: 62px;
  }
  .modalMenu-wrapList {
    width: 60%;
  }
  .modalMenu-wrapList__borderBottom {
    width: 250px;
    margin: 10px auto;
  }
  .modalMenu-wrapList__item {
    font-size: 2rem;
  }
  .modalMenu-wrapList__item:hover {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  .modalMenu-wrapList__item:hover .modalMenu-wrapList__borderBottom {
    -webkit-transform: translateX(-50px);
            transform: translateX(-50px);
  }
}

@media (max-width: 590px) {
  .menuButton {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }
  .menuButton__wrap {
    top: 50px;
  }
  .menuButton__wrap:hover .menuButton {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }
  .navigate {
    display: none;
  }
  .intro-logo {
    width: 170px;
    margin-left: 1rem;
  }
  .intro__title {
    width: 95%;
  }
  .intro-title__text {
    font-size: 3rem;
    line-height: 50px;
  }
  .intro-arrowDown-fromContent {
    top: -50px;
  }
}

@media (max-width: 425px) {
  .intro-title__text {
    font-size: 2rem;
    line-height: 38px;
  }
}
/*# sourceMappingURL=main.css.map */