@font-face {
  font-family: 'Museo Sans 300 Light';
  src: url("../fonts/MuseoSansCyrl-300.eot");
  src: url("../fonts/MuseoSansCyrl-300.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSansCyrl-300.woff") format("woff"), url("../fonts/MuseoSansCyrl-300.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Museo Sans 700 Bold';
  src: url("../fonts/MuseoSansCyrl-700.eot");
  src: url("../fonts/MuseoSansCyrl-700.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSansCyrl-700.woff") format("woff"), url("../fonts/MuseoSansCyrl-700.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

html {
  font-size: 10px;
}

body {
  font-size: 1.4rem;
  font-family: 'Museo Sans 300 Light', Helvetica, sans-serif;
}

.main-container {
  position: relative;
  width: 100%;
}

.section-container {
  max-width: 1200px;
  margin: 0 auto;
  padding-right: 30px;
  padding-left: 30px;
}

.section-container__descHeight {
  height: 1800px;
}

.menuButton {
  position: relative;
  float: right;
  background: rgba(248, 121, 4, 0.9);
  padding: 25px 20px;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  border-left: 1px solid #fff;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  margin: 0 0 30px 30px;
  cursor: pointer;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
  z-index: 200;
}

.menuButton__wrap {
  position: fixed;
  right: 0;
  top: 75px;
  z-index: 30000;
}

.menuButton__wrap:hover .menuButton {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

.menuButton__wrap:hover .navigate {
  right: 70px;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
}

.burger {
  position: relative;
  display: block;
  width: 30px;
  height: 1px;
  background: #fff;
  margin: 0;
  padding: 0;
  z-index: 3000;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
}

.burger::before {
  content: '';
  position: absolute;
  top: -10px;
  display: block;
  width: 30px;
  height: 1px;
  z-index: 30000;
  background: #fff;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

.burger::after {
  content: '';
  position: absolute;
  top: 10px;
  display: block;
  width: 30px;
  height: 1px;
  z-index: 30000;
  background: #fff;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

.burgerActive {
  position: relative;
  display: block;
  background: 0 0;
  margin: 0;
  padding: 0;
}

.burgerActive::before {
  content: '';
  position: absolute;
  top: 0;
  left: -5px;
  display: block;
  width: 40px;
  height: 1px;
  z-index: 30000;
  background: #fff;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.burgerActive::after {
  content: '';
  position: absolute;
  top: 0;
  left: -5px;
  display: block;
  width: 40px;
  height: 1px;
  z-index: 30000;
  background: #fff;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.navigate {
  position: absolute;
  display: block;
  background: rgba(248, 121, 4, 0.9);
  padding: 0 15px;
  height: 53px;
  line-height: 51px;
  top: -1px;
  right: -170px;
  font-size: 1em;
  color: #fff;
  border: 1px solid #fff;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
}

.modalMenu {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(248, 121, 4, 0.9);
  z-index: 20000;
}

.modalMenu__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modalMenu-wrapList {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.modalMenu-wrapList__borderBottom {
  width: 300px;
  position: relative;
  border: none;
  height: 1px;
  margin: 15px auto 0;
  padding: 0;
  background: #fff;
  background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0)), color-stop(55%, white), to(white));
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, white 55%, white 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff',endColorstr='#ffffff',GradientType=1);
  opacity: .3;
  -webkit-transform: translateX(-50px);
          transform: translateX(-50px);
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
}

.modalMenu-wrapList__item {
  font-size: 4rem;
  font-weight: 400;
  text-transform: uppercase;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.modalMenu-wrapList__item:hover {
  -webkit-transform: translateX(-10px);
          transform: translateX(-10px);
}

.modalMenu-wrapList__item:hover .modalMenu-wrapList__borderBottom {
  -webkit-transform: translateX(50px);
          transform: translateX(50px);
}

.modalMenu-wrapList__link {
  color: white;
}

.modalMenu-wrapList__link:hover {
  color: white;
  text-decoration: none;
}

.main-btn {
  width: 250px;
  padding: 10px 0;
  font-size: 2.5rem;
  text-transform: uppercase;
  background: transparent;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.main-btn:hover {
  text-decoration: underline;
}

.main-btn:focus {
  outline: none;
}

.content {
  position: relative;
  padding-top: 200px;
  background-color: white;
  z-index: 2000;
}

.scrollHide {
  overflow: hidden;
}

.intro {
  position: relative;
}

.intro-videoBg {
  height: 100vh;
}

.intro-overWrap {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

.intro-logo {
  margin-left: 5rem;
}

.intro-logo__img {
  max-width: 100%;
}

.intro-title {
  position: relative;
  top: 20%;
  text-align: center;
  color: white;
}

.intro-title__text {
  display: inline;
  padding: 7px;
  font-size: 8rem;
  font-weight: 400;
  line-height: 110px;
  letter-spacing: 10px;
  background-color: rgba(248, 121, 4, 0.7);
}

.intro__title {
  width: 90%;
  margin: 0 auto;
}

.intro-subtitle {
  position: relative;
  top: 30%;
  color: white;
  text-align: right;
}

.intro__subtitle {
  float: right;
  max-width: 700px;
  margin-right: 300px;
}

.intro-arrowDown-fromContent {
  position: absolute;
  right: 50%;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
  top: -100px;
  text-align: center;
  width: 4rem;
}

.desc-row {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 4rem;
}

.desc-block {
  position: relative;
  z-index: 2001;
  top: -120px;
  max-width: 500px;
  background-color: rgba(248, 121, 4, 0.8);
  padding: 30px;
  -webkit-box-shadow: -20px 30px 56px -20px #999;
          box-shadow: -20px 30px 56px -20px #999;
}

.desc-block__line {
  width: 150px;
  position: absolute;
  top: 30px;
  right: 40px;
  height: 1px;
  background-color: white;
}

.desc-block__title {
  margin-top: 2rem;
  font-size: 4.5rem;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 6px;
  color: white;
}

.desc-block__text {
  max-width: 410px;
  font-size: 1.6rem;
  font-family: georgia,serif;
  font-style: italic;
  color: #2D373C;
}

.desc-block__btn {
  margin-top: 1rem;
  border-color: transparent;
  border: 1px solid white;
  color: #2D373C;
}

.desc-block__btn:hover {
  -webkit-transform: translateX(30px);
          transform: translateX(30px);
}

.desc-block__titleRight {
  max-width: 400px;
  font-size: 4.5rem;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 6px;
  color: #2D373C;
}

.desc-block__lineDark {
  width: 150px;
  position: absolute;
  top: -18px;
  right: -5px;
  height: 1px;
  background-color: #2D373C;
}

.desc-img {
  position: absolute;
  right: 30px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  width: 700px;
  -webkit-transform: translateX(-30px);
          transform: translateX(-30px);
  -webkit-box-shadow: 38px 41px 48px -22px #999;
          box-shadow: 38px 41px 48px -22px #999;
}

.desc-img__image {
  max-width: 100%;
}

.desc-img4 {
  position: absolute;
  top: 30px;
  left: 30px;
  width: 300px;
}

.desc-img4__image {
  max-width: 100%;
}

.desc-img5 {
  position: absolute;
  top: -330px;
  right: 0;
  -webkit-box-shadow: 38px 41px 48px -22px #999;
          box-shadow: 38px 41px 48px -22px #999;
}

.desc-img6 {
  position: absolute;
  top: 200px;
  width: 600px;
  -webkit-box-shadow: -20px 30px 56px -20px #999;
          box-shadow: -20px 30px 56px -20px #999;
}

.desc-img__left {
  position: relative;
  top: -140px;
  left: 100px;
  width: 600px;
}

.desc-block__right {
  position: absolute;
  top: 150px;
  right: 0;
}

.desc-img-mobile {
  display: none;
}

.portfolio-title {
  font-size: 4.5rem;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 6px;
  color: #2D373C;
}

.portfolio__block {
  max-width: 1200px;
  margin: 0 auto;
}

.portfolio-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.portfolio-block-item {
  position: relative;
  width: 340px;
  height: 220px;
  margin: 15px;
  text-align: center;
  -webkit-box-shadow: 7px 9px 23px -5px rgba(45, 55, 60, 0.73);
          box-shadow: 7px 9px 23px -5px rgba(45, 55, 60, 0.73);
  cursor: pointer;
  -webkit-transition: all .4s;
  transition: all .4s;
}

.portfolio-block-item__thumb {
  width: 100%;
  height: 100%;
}

.portfolio-block-item__cover {
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  text-align: center;
  color: white;
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 0;
  -webkit-transition: all .4s;
  transition: all .4s;
}

.portfolio-block-item__title, .portfolio-block-item__subtitle {
  display: block;
}

.portfolio-block-item__title {
  margin-bottom: 1rem;
  font-size: 2rem;
  text-transform: uppercase;
}

.portfolio-block-item__subtitle {
  font-size: 1.6rem;
  font-family: georgia,serif;
}

.portfolio-block-item:hover {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
  -webkit-box-shadow: 7px 19px 23px -5px rgba(45, 55, 60, 0.73);
          box-shadow: 7px 19px 23px -5px rgba(45, 55, 60, 0.73);
}

.portfolio-block-item:hover .portfolio-block-item__cover {
  opacity: 1;
}

.portfolio__btn {
  display: block;
  margin: 3rem auto 0;
  border: 1px solid #F87904;
}

.portfolio__btn:hover {
  border-color: #fdae65;
}

.portfolio_moreDisplay, .portfolio__btnHide {
  display: none;
}

.portfolio_mobile {
  display: none;
}

@media (max-width: 1232px) {
  .intro-title__text {
    font-size: 6rem;
    line-height: 86px;
  }
  .desc-img__left {
    left: 0;
    width: 450px;
  }
}

@media (max-width: 991px) {
  .section-container__descHeight {
    height: 900px;
  }
  .desc-img, .desc-img4, .desc-img5, .desc-img6, .desc-img__left {
    display: none;
  }
  .desc-block__btn {
    margin: 10px auto;
    display: block;
    width: 200px;
  }
  .desc-block__btn:hover {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  .desc-block__right {
    position: relative;
    top: -100px;
    margin: 0 auto;
    text-align: center;
  }
}

@media (max-width: 767px) {
  .intro__title {
    width: 80%;
  }
  .intro-title__text {
    font-size: 4rem;
    line-height: 62px;
  }
  .modalMenu-wrapList {
    width: 60%;
  }
  .modalMenu-wrapList__borderBottom {
    width: 250px;
    margin: 10px auto;
  }
  .modalMenu-wrapList__item {
    font-size: 2rem;
  }
  .modalMenu-wrapList__item:hover {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  .modalMenu-wrapList__item:hover .modalMenu-wrapList__borderBottom {
    -webkit-transform: translateX(-50px);
            transform: translateX(-50px);
  }
}

@media (max-width: 590px) {
  .menuButton {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }
  .menuButton__wrap {
    top: 50px;
  }
  .menuButton__wrap:hover .menuButton {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }
  .navigate {
    display: none;
  }
  .intro-logo {
    width: 170px;
    margin-left: 1rem;
  }
  .intro__title {
    width: 95%;
  }
  .intro-title__text {
    font-size: 3rem;
    line-height: 50px;
  }
  .intro-arrowDown-fromContent {
    top: -50px;
  }
}

@media (max-width: 500px) {
  .section-container {
    padding-right: 15px;
    padding-left: 15px;
  }
  .section-container__descHeight {
    height: 1300px;
  }
  .desc-block {
    margin: 0 auto;
  }
  .desc-block__title, .desc-block__titleRight {
    font-size: 3rem;
  }
  .desc-block__text {
    margin: 0 auto;
    max-width: 300px;
    font-size: 1.4rem;
  }
  .desc-block__lineDark {
    right: 38px;
  }
  .desc-img-mobile {
    position: relative;
    top: -100px;
    display: block;
    margin: 0 auto;
    text-align: center;
  }
  .desc-img-mobile__img1 {
    display: block;
    margin-bottom: 2rem;
    max-width: 400px;
    width: 100%;
  }
  .portfolio-title {
    font-size: 3rem;
  }
}

@media (max-width: 425px) {
  .section-container {
    padding: 5px;
  }
  .intro-title__text {
    font-size: 2rem;
    line-height: 38px;
  }
  .desc-block {
    max-width: 300px;
  }
  .portfolio__btn {
    width: 200px;
  }
}
/*# sourceMappingURL=main.css.map */