@media ( max-width: 1232px )
  .intro
    &-title
      &__text
        font-size: 6rem
        line-height: 86px
  .desc
    &-img__left
      width: 470px
  .modal
    margin-top: 5rem
    width: 700px
    transform: translateX(-90px)
@media ( max-width: 991px )
  .desc
    &-row
      &_height
        height: 200px
    &-img, &-img3, &-img5, &-img6, &-img__left
      display: none
    &-img-mobile
      display: flex
      flex-direction: column
      align-items: center
      margin: 0 auto
      text-align: center
      &__img
        margin-bottom: 2rem
        max-width: 600px
        width: 100%
    &-block
      max-width: 600px
      width: 100%
      &__text
        max-width: 600px
        width: 100%
      &__btn
        margin: 10px auto
        display: block
        width: 200px
        &:hover
          transform: translateX(0px)
  .rent
    justify-content: space-around
    &-card
      flex-direction: column
      width: 330px
      height: 100%
      &__wrap
        margin: 0rem 2rem 4rem
  .equip
    justify-content: space-around
    &-card
      &__wrap
        min-width: 300px
  .modal
    width: 600px
  .modalPort
    &-content
      justify-content: space-around
      &__item
        width: 250px
        height: 170px
@media ( max-width: 767px )
  .intro
    &__title
      width: 80%
    &-title
      &__text
        font-size: 4rem
        line-height: 62px
  .modalMenu
    &-wrapList
      width: 60%
      &__borderBottom
        width: 250px
        margin: 10px auto
      &__item
        font-size: 2rem
        &:hover
          transform: translateX(0px)
        &:hover .modalMenu-wrapList__borderBottom
          transform: translateX(-50px)
  .portfolio
    &-block
      height: 1000px
  .modal
    width: 550px
    transform: translateX(-90px)
  .modalPort
    &-content
      justify-content: space-around
      &__item
        width: 225px
        height: 140px
        
@media ( max-width: 590px )
  .menuButton
    border-top-left-radius: 10px
    border-bottom-left-radius: 10px
    &__wrap
      top: 50px
      &:hover .menuButton
        border-top-left-radius: 10px
        border-bottom-left-radius: 10px
  .navigate
    display: none
  .intro
    &-logo
      width: 170px
      margin-left: 1rem
    &__title
      width: 95%
    &-title
      &__text
        font-size: 3rem
        line-height: 50px
    &-arrowDown-fromContent
      top: -50px
  .modal
    margin-top: 1rem
    width: 420px
    transform: translateX(0px)
  .modalPort
    &-title
      margin-bottom: 1rem
    &-subtitle
      display: block
      margin-left: 1rem
    &-content
      height: 470px
      &__item
        width: 300px
        height: 200px
@media ( max-width: 500px )
  .section
    &-container
      padding-right: 15px
      padding-left: 15px
    &-title
      font-size: 3rem
  .desc
    &-row
      &_height
        height: 0
        margin: 0
    &-block
      &__title, &__titleRight
        font-size: 3rem
      &__text
        margin: 0 auto
        max-width: 300px
        font-size: 1.4rem
        &_right
          max-width: 300px
          font-size: 1.4rem
      &__lineDark
        top: -17px;
        right: 68px;
      &__right
        position: relative
        width: 300px
        margin: 2rem auto
        text-align: center
  .equip
    display: block
  .modal
    width: 300px
    height: auto
  .modalPort
    &-content
      height: 420px
      &__item
        width: 200px
        height: 120px
@media ( max-width: 425px )
  .section-container
    padding: 5px
  .intro
    &-title
      &__text
        font-size: 2rem
        line-height: 38px
  .desc
    &-block
      max-width: 300px
      margin: 0 auto
      padding: 20px
      &__titleRight
        font-size: 2.5rem
  .portfolio
    &__btn
      width: 200px
  .rent
    &__title
      font-size: 2rem
    &-card
      width: 300px
      &:hover
        transform: translateY(0px)
        box-shadow: 1px 1px 51px 0px rgba(0,0,0,0.26)
      &__img
        width: 300px
        height: 310px
      &__title
        font-size: 2rem  
      &-text
        &__text
          font-size: 1rem
          line-height: 24px
        &__desc
          font-size: 1.2rem
  .equip
    &__title
      font-size: 2rem
@media ( max-width: 320px )
  .modalPort
    &-title
      font-size: 1.6rem
    &-subtitle
      font-size: 1.4rem
  .modal
    height: 450px
  


  
  

  

  
  
  
  
  