.desc
  &-row
    position: relative
    display: flex
    margin-bottom: 4rem
  &-block
    position: relative
    z-index: 2001
    top: -120px
    max-width: 500px
    background-color: rgba($active-color, 0.8)
    padding: 30px
    box-shadow: -20px 30px 56px -20px #999
    &__line
      width: 150px
      position: absolute
      top: 30px
      right: 40px
      height: 1px
      background-color: white
    &__title
      margin-top: 2rem
      font-size: 4.5rem
      text-transform: uppercase
      font-weight: 300
      letter-spacing: 6px
      color: white
    &__text
      max-width: 410px
      font-size: 1.6rem
      font-family: georgia,serif
      font-style: italic
      color: $general-color
    &__btn
      margin-top: 1rem
      color: $general-color
    &__titleRight
      max-width: 400px
      font-size: 4.5rem
      text-transform: uppercase
      font-weight: 300
      letter-spacing: 6px
      color: $general-color
    &__lineDark
      width: 150px
      position: absolute
      top: -18px
      right: -5px
      height: 1px
      background-color: $general-color
  &-img
    position: absolute
    right: 30px
    flex-grow: 1
    width: 700px
    transform: translateX(-30px)
    box-shadow: 38px 41px 48px -22px #999
    &__image
      max-width: 100%
  &-img4
    position: absolute
    top: 30px
    left: 30px
    width: 300px
    &__image
      max-width: 100%
  &-img5
    position: absolute
    top: -330px
    right: 0
    box-shadow: 38px 41px 48px -22px #999
  &-img6
    position: absolute
    top: 200px
    width: 600px
    box-shadow: -20px 30px 56px -20px #999
  &-img__left
    position: relative
    top: -140px
    left: 100px
    width: 600px
  &-block__right
    position: absolute
    top: 150px
    right: 0
.desc-img-mobile
  display: none